.btn-hero {
  background-color: transparent;
  border: 1.8px solid rgba(255, 255, 255, 0.905);
  border-radius: 24px;
  padding: 4px 24px 5px 24px;
  color: white;
  font-weight: 500;
  margin-top: 40px;
  box-shadow: 0 0px 10px 1.5px #38ef7eb7, 0 2px 10px 2px #11998e83;
}

.btn-hero:hover {
  border-color: rgba(255, 255, 255, 0.868);
  box-shadow: 0 0px 15px 1px #38ef7edf, 0 2px 13px 1.5px #11998eb3;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-important {
  color: rgb(247, 248, 248);
  margin: 0;
  font-weight: 600;
  text-align: center;
  white-space: pre-line;
  line-height: 105%;
  letter-spacing: -3px;
}

.welcome-description {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.763);
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

.w-gradient {
  background-image: linear-gradient(to right, #11998e, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,
body {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .tracks-display {
    padding: 0.8rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .genre-title {
    padding-left: 0.8rem;
  }
  .btn {
    margin-left: 0.8rem;
    font-size: 22px;
  }
  .no-found {
    margin-left: 0.8rem;
    margin-top: 32px;
    font-size: 28px;
  }
  .skeleton-img {
    height: 257px;
  }
  .landing-page {
    margin-top: 95px;
  }

  .welcome-important {
    font-size: 4.8rem;
  }

  .welcome-description {
    font-size: 18px;
    line-height: 2rem;
    max-width: 65%;
  }

  .btn-hero {
    font-size: 22px;
  }

  .hero-image-section {
    margin-top: 100px;
    padding: 64px 0px;
  }

  .words-slide span {
    height: 120px;
    font-size: 90px;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .card-image-size {
    height: 257.48px;
  }

  .hero-mock img {
    margin-top: 90px;
  }

  .fa-diamond {
    padding-top: 35px;
  }

  .footer-content {
    margin-top: 180px;
  }

  .github-btn {
    font-size: 16px;
  }

  .fa-star {
    margin-right: 6px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .tracks-display {
    padding: 2.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .genre-title {
    padding-left: 2.5rem;
  }
  .btn {
    margin-left: 2.5rem;
    font-size: 22px;
  }
  .no-found {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 32px;
    font-size: 28px;
  }
  .skeleton-img {
    height: 348.33px;
  }
  .landing-page {
    margin-top: 95px;
    padding: 0px 50px 0px 50px;
  }

  .welcome-important {
    font-size: 70px;
  }

  .welcome-description {
    max-width: 80%;
    font-size: 16px;
  }

  .btn-hero {
    font-size: 18px;
  }

  .hero-image-section {
    margin-top: 120px;
    padding: 44px 0;
  }

  .images-slide img {
    height: 250px;
    margin: 0 40px;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .card-image-size {
    height: 348.33px;
  }

  .hero-mock img {
    margin-top: 60px;
  }

  .words-slide span {
    height: 100px;
    font-size: 70px;
  }

  .fa-diamond {
    font-size: 15px;
    padding-top: 20px;
  }

  .footer-content {
    margin-top: 120px;
  }

  .github-btn {
    font-size: 16px;
  }

  .fa-star {
    margin-right: 6px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .tracks-display {
    padding: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .genre-title {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .btn {
    margin-left: 2.5rem;
    font-size: 18px;
  }
  .no-found {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 32px;
    font-size: 20px;
  }
  .skeleton-img {
    height: 422px;
  }
  .landing-page {
    margin-top: 66px;
    padding: 0px 20px 0px 20px;
  }
  .welcome-important {
    font-size: 32px;
  }
  .welcome-description {
    font-size: 16px;
    max-width: 85%;
  }
  .btn-hero {
    font-size: 20px;
  }

  .hero-image-section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 50px;
    padding: 44px 0;
  }

  .images-slide img {
    height: 200px;
    margin: 0 40px;
  }

  .navbar-brand {
    font-size: 18px;
  }

  .card-image-size {
    height: 348.67px;
  }

  .hero-mock img {
    margin-top: 60px;
  }

  .words-slide span {
    height: 60px;
    font-size: 40px;
  }

  .fa-diamond {
    font-size: 10px;
    padding-top: 10px;
  }

  .footer-content {
    margin-top: 100px;
    font-size: 14px;
  }

  .github-btn {
    font-size: 14px;
  }

  .fa-star {
    padding-right: 6px;
    margin-top: 1px;
    font-size: 10px;
  }
}

body {
  background-color: #030303;
}

main {
  max-width: 850px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  min-height: 100vh;
}

.hero-section {
  max-width: 850px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.landing-page {
  min-height: 100vh;
}

footer {
  max-width: 850px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

p {
  color: #ffffffe9;
  cursor: default;
}

.tracks-display {
  margin: 0;
  justify-content: center;
  display: grid;
  width: 100%;
  gap: 24px;
  margin-bottom: 32px;
}

.tracks-display img {
  width: 100%;
}

.card {
  background-color: rgba(52, 49, 49, 0.149);
  position: relative;
}

.card:hover {
  background-color: rgba(90, 89, 89, 0.149);
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0);
  transition: background-color 0.3s ease;
  border-radius: 4px 4px 0px 0px;
}

.image-container:hover .overlay {
  background-image: linear-gradient(to right, #11998ecb, #38ef7eb6);
  border: 1.5px solid rgb(0, 0, 0);
}

.centered-button {
  position: absolute;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 24px;
  padding: 2px 12px 3px 12px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 70%;
}

.centered-button a {
  text-decoration: none;
  color: black;
}

.centered-button:hover a {
  color: #030303d8;
}

.image-container:hover .centered-button {
  opacity: 1;
  border-color: #030303d8;
}

.card-name {
  padding-bottom: 24px;
  font-size: 1.1rem;
}

.card-description {
  margin: 0;
  color: rgba(255, 255, 255, 0.522);
  bottom: 0;
  left: 16px;
  right: 16px;
}

.play-button {
  color: rgba(255, 255, 255, 0.779);
  margin-bottom: -2px;
  font-size: 1.5rem;
  margin-top: 2px;
}

.pause-button {
  color: rgba(255, 255, 255, 0.779);
  margin-bottom: -2px;
  font-size: 1.5rem;
}

.button-audio {
  margin-bottom: 1px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 100%;
  margin-left: 14px;
  margin-top: auto;
  outline: none;
}

.button-audio:hover {
  .pause-button {
    color: #38ef7d;
  }

  .play-button {
    color: #38ef7d;
  }
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.genre-title {
  font-size: 2.5rem;
  color: white;
  margin: 40px 0px 12px 0px;
}

.navbar .container-fluid {
  padding: 4px 32px;
}

.navbar {
  background-color: #030303d9;
}

.navbar-brand {
  color: white;
  font-weight: 400;
}

.navbar-brand:hover {
  color: white;
}

.nav-item a {
  color: rgba(255, 255, 255, 0.781);
}

a.nav-link {
  padding: 5px 8px 1.5px 8px;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.925);
}

.btn-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: transparent;
  border: 1.8px solid white;
  border-radius: 24px;
  padding: 4px 24px 5px 24px;
  color: white;
  font-weight: 600;
  margin-top: 56px;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.btn:active {
  color: rgba(255, 255, 255, 0.76) !important;
  border-color: rgba(255, 255, 255, 0.767) !important;
}

.no-found {
  color: rgba(255, 255, 255, 0.573);
}

.skeleton {
  border-radius: 8px;
  margin-bottom: 20px;
  height: 360px;
}

.skeleton-img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.skeleton-body {
  padding: 20px;
}

.skeleton-title {
  height: 18px;
  width: 80%;
  margin-bottom: 10px;
}

.skeleton-description {
  height: 16px;
  width: 50%;
}

.skeleton-animation {
  animation: pulse 1s linear infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #2426258c;
  }
  25% {
    background-color: #45444456;
  }
  50% {
    background-color: #5b595a57;
  }
  100% {
    background-color: #a3a2a32a;
  }
}

.notification {
  background-color: rgba(26, 25, 25, 0.149);
  color: white;
  font-weight: 300;
}

.g-span {
  padding-right: 2px;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.hero-image-section {
  overflow: hidden;
  position: relative;
  display: flex;
  max-width: 100%;
  -webkit-mask-image: linear-gradient(90deg, transparent, #ffff, transparent);
}

.words-slide {
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: 30s slide infinite linear;
  animation-delay: calc(30s * -1);
}

.words-2 {
  animation: 30s slide2 infinite linear;
  animation-delay: calc(30s / -2);
}

.words-slide span {
  display: inline-flex;
  padding: 0px 40px;
  transition: 0.5s;
  color: white;
  margin-top: 0px;
  font-weight: 400;
}

.card-image-size {
  background-color: #45444456;
}

.hero-mock img {
  max-width: 100%;
  height: 100%;
}

.fa-diamond {
  color: #38ef7e9e;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.79);
}

.github-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.nav-link {
  padding: 0 !important;
}
